<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/show.css">
    <!-- <link rel="stylesheet" href="/css/materialize.css"> -->

</head>
<body>
    <div class="container">
    <nav>
        <a href="/fidofame">Back to Famous Dogs</a>
    </nav>
    <h1><%=fido.name%></h1>
    <div class="pic">
        <img src="<%=fido.image %>" alt="<%=fido.name %> Image"><br />
    </div>
    <div class="info">
        Breed: <%= fido.breed%> <br />
        Claim To Fame: <%= fido.renown%> <br />
    </div>
        <p>Description: <%= fido.description%></p><br />
    <form action="/fidofame/<%= fido.id %>?_method=DELETE" method="POST">
        <button type="submit" value="DELETE" />Delete</button>
    </form>
    <a href="/fidofame/<%=fido._id %>/edit">
        <button>Edit</button>
    </a>
</div>
</body>
</html>